@font-face {
  font-family: "Nekst";
  src: local("Nekst"),
  url("./fonts/nekst/Nekst-Black.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
  url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: regular;
}

body {
  font-family: "Nekst";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 213px 47px;
}




